<section class="menu-section">
  <h2>OUR MENU</h2>
  <div class="menu-container">
    <div class="menu-item">
      <div class="left">
        <img src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="Tonkatsu Ramen">
      </div>
      <div class="right">
        <h3>Tonkatsu Ramen</h3>
        <div class="option-row">
          <span class="protein">CHICKEN</span>
          <span class="price">11.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">BEEF</span>
          <span class="price">12.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">SHRIMP</span>
          <span class="price">13.95€</span>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="right text-left">
        <h3>Tonkatsu Ramen</h3>
        <div class="option-row">
          <span class="protein">CHICKEN</span>
          <span class="price">11.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">BEEF</span>
          <span class="price">12.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">SHRIMP</span>
          <span class="price">13.95€</span>
        </div>
      </div>
      <div class="left">
        <img src="../../../assets/img/3_section_our_menu/Png/R2.png" alt="Tonkatsu Ramen">
      </div>
    </div>
    <div class="menu-item">
      <div class="left">
        <img src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="Tonkatsu Ramen">
      </div>
      <div class="right">
        <h3>Tonkatsu Ramen</h3>
        <div class="option-row">
          <span class="protein">CHICKEN</span>
          <span class="price">11.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">BEEF</span>
          <span class="price">12.95€</span>
        </div>
        <div class="option-row">
          <span class="protein">SHRIMP</span>
          <span class="price">13.95€</span>
        </div>
      </div>
    </div>
  </div>
</section>
