*{
    margin: 0;
    scroll-behavior: smooth;
}

.fontAtomicAge{
    font-family: 'Atomic Age', sans-serif;
}

/* atomic-age-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/atomic-age-v28-latin-regular.woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}